# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
venv/

# Poetry specific
poetry.lock

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3

# Cache
.cache/

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# MacOS files
.DS_Store

